{% extends "layout.html" %}

{% block external_scripts %}
<script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">
<script src="/static/js/date-picker.js"></script>
{% endblock %}

{% block content %}

<div class="container">

    <div class="columns">
        <div class="column is-three-fifths is-offset-one-fifth">
            <h1 class="title">Cadastrar Evento</h1>
        </div>
    </div>

    <div class="columns">
        <div class="column is-three-fifths is-offset-one-fifth">
            <form action="{{url_for('salvar_cadastro_evento')}}" method="post">
                <div class="field is-grouped">
                    <div class="field">
                        <label class="label" for="nome">Nome </label>
                        <div class="control">
                            <input class="input" type="text" placeholder="" name="nome">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Data do Evento</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="" name="data" id="seletor-data" autocomplete="off">
                        </div>
                    </div>
                </div>

                <div class="field is-grouped">
                    <div class="field">
                        <label class="label">Tipo</label>
                        <div class="control">
                            <div class="select">
                                <select name="tipo">
                                    <option>Congresso</option>
                                    <option>Curso</option>
                                    <option>Palestra</option>
                                    <option>Workshop</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Área</label>
                        <div class="control">
                            <div class="select">
                                <select name="area">
                                    <option>Administração</option>
                                    <option>Informática</option>
                                    <option>Medicina</option>
                                    <option>Química</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-grouped">
                    <div class="field">
                        <label class="label">Cidade</label>
                        <div class="control">
                            <div class="select">
                                <select>
                                    <option>Selecione a cidade</option>
                                    <option>With options</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Estado</label>
                        <div class="control">
                            <div class="select">
                                <select>
                                    <option>Selecione o estado</option>
                                    <option>With options</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Descrição do evento</label>
                    <div class="control">
                        <textarea class="textarea" placeholder="Descreva aqui seu evento..."></textarea>
                    </div>
                </div>

                <div class="control">
                    <button class="button is-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block custom_scripts %}
<script>
    var picker = datePicker('#seletor-data');
</script>
{% endblock %}
