<!DOCTYPE html>
<html class="has-background-light">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cadastrar evento</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>

    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="">
                <img src="/static/ds3az.png" alt="Desenvolvimento de Software 3">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item">
                    Página Inicial
                </a>

                <a class="navbar-item">
                    Eventos
                </a>
            </div>
        </div>
    </nav>


    <div class="container">
        <h1 class="title">Cadastrar Eventos</h1>
    </div>

    <div class="container">
        <form action="/cadastrar-evento" method="post">
            <div class="columns">
                <div class="column is-4">
                    <div class="field">
                        <label class="label">Nome do Evento</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="" name="nome">
                        </div>
                    </div>
                </div>

                <div class="column is-4">
                    <div class="field">
                        <label class="label">Tipo de Evento</label>
                        <div class="control">
                            <div class="select">
                                <select name="tipo">
                                    <option>Congresso</option>
                                    <option>Curso</option>
                                    <option>Palestra</option>
                                    <option>Workshop</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column is-4">
                    <div class="field">
                        <label class="label">Área</label>
                        <div class="control">
                            <div class="select">
                                <select name="area">
                                    <option>Administração</option>
                                    <option>Informática</option>
                                    <option>Medicina</option>
                                    <option>Química</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            v>
            
             class="container">
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label class="label">Descrição do evento</label>
                        <div class="control">
                            <textarea class="textarea" placeholder="Descreva aqui seu evento..."></textarea>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="columns">
                <div class="column is-2">
                    <div class="field">
                        <label class="label">Data do Evento</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="">
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="column is-4">
                <div class="field">
                    <label class="label">Cidade</label>
                    <div class="control">
                        <div class="select">
                            <select>
                                <option>Selecione a cidade</option>
                                <option>With options</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="column is-4">
                <div class="field">
                    <label class="label">Estado</label>
                    <div class="control">
                        <div class="select">
                            <select>
                                <option>Selecione o estado</option>
                                <option>With options</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            v>
            
             class="container">
            <div class="file has-name">
                <label class="file-label">
                    <input class="file-input" type="file" name="resume">
                    <span class="file-cta">
                        <span class="file-icon">
                            <i class="fas fa-upload"></i>
                        </span>
                        <span class="file-label">
                            Escolha uma imagem…
                        </span>
                    </span>
                    <span class="file-name">
                        Screen Shot 2017-07-29 at 15.54.25.png
                    </span>
                </label>
            </div>
            v>
            
             class="container">
            <div class="control">
                <button class="button is-primary">Salvar</button>
            </div>
            v>
            
        </form>

</body>

</html>
