{% extends "layout.html" %}

{% block external_scripts %}
<script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">
<script src="/static/js/date-picker.js"></script>
{% endblock %}

{% macro option(value, current_value, label = "") -%}

<option value="{{value}}" {{"selected" if value == current_value else ""}}>
    {{label if label != "" else value}}
</option>

{%- endmacro %}


{% block content %}

<div class="container">

    <div class="columns">
        <div class="column is-three-fifths is-offset-one-fifth">
            <h1 class="title">Dados do Evento</h1>
        </div>
    </div>

    <div class="columns">
        <div class="column is-three-fifths is-offset-one-fifth">
            <form action="{{url_for('salvar_cadastro_evento')}}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="id" value="{{evento.id}}"/>
                <input type="hidden" name="id_parceiro" value="{{parceiro.id}}"/>
                <input type="hidden" id="url-imagem" name="url_imagem" value="/static/placeholder.png">
                <div class="field">
                    <label class="label" for="nome">Parceiro: {{parceiro.nome}}</label>
                </div>
                <div class="field">
                    <label class="label" for="nome">Nome </label>
                    <div class="control">
                        <input class="input" type="text" placeholder="" name="nome" value="{{evento.nome}}">
                    </div>
                </div>

                <div class="field is-grouped">
                    <div class="field">
                        <label class="label">Data do Evento</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="" name="data" id="seletor-data"
                                autocomplete="off" value="{{evento.data}}">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Cidade</label>
                        <div class="control">
                            <div class="select">
                                <select name = "id_cidade">
                                    {% if evento.endereco.id_cidade == None %}
                                    <option selected disabled hidden>Selecione uma cidade</option>
                                    {% endif %}
                                    {% for cidade in opcoes_cidades %}
                                    {{ option( current_value = evento.endereco.id_cidade, value = cidade.id, label = cidade.nome ) }}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-grouped">
                    <div class="field">
                        <label class="label">Tipo</label>
                        <div class="control">
                            <div class="select">
                                <select name="tipo">
                                    {% if evento.tipo == None %}
                                    <option selected disabled hidden>Selecione um tipo</option>
                                    {% endif %}
                                    {{ option(current_value = evento.tipo, value = 'Congresso') }}
                                    {{ option(current_value = evento.tipo, value = 'Curso') }}
                                    {{ option(current_value = evento.tipo, value = 'Meetup') }}
                                    {{ option(current_value = evento.tipo, value = 'Palestra') }}
                                    {{ option(current_value = evento.tipo, value = 'Workshop') }}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Área</label>
                        <div class="control">
                            <div class="select">
                                <select name="area">
                                    {% if evento.area == None %}
                                    <option selected disabled hidden>Selecione uma area</option>
                                    {% endif %}
                                    {{ option(current_value = evento.area, value = 'Administração') }}
                                    {{ option(current_value = evento.area, value = 'Arquitetura') }}
                                    {{ option(current_value = evento.area, value = 'Arte') }}
                                    {{ option(current_value = evento.area, value = 'Ciências Sociais') }}
                                    {{ option(current_value = evento.area, value = 'Comunicação') }}
                                    {{ option(current_value = evento.area, value = 'Design') }}
                                    {{ option(current_value = evento.area, value = 'Direito') }}
                                    {{ option(current_value = evento.area, value = 'Economia') }}
                                    {{ option(current_value = evento.area, value = 'Educação') }}
                                    {{ option(current_value = evento.area, value = 'Engenharia') }}
                                    {{ option(current_value = evento.area, value = 'Gastronomia') }}
                                    {{ option(current_value = evento.area, value = 'Informática') }}
                                    {{ option(current_value = evento.area, value = 'Negócios') }}
                                    {{ option(current_value = evento.area, value = 'Química') }}
                                    {{ option(current_value = evento.area, value = 'Saúde') }}
                                    {{ option(current_value = evento.area, value = 'Turismo') }}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Descrição do evento</label>
                    <div class="control">
                        <textarea class="textarea" name = "descricao" placeholder="Descreva aqui seu evento...">{{evento.descricao}}</textarea>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Imagem</label>
                    <div class="control">
                        <input type="file" name="imagem" id="ibagem" />
                    </div>
                </div>


                <div class="control">
                    <button class="button is-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block custom_scripts %}
<script>
    var picker = datePicker('#seletor-data');
    picker.setMoment(moment('{{evento.data}}'));

    (function() {
        document.getElementById("ibagem").onchange = function() {
            var files = document.getElementById("ibagem").files;
            var file = files[0];

            getSignedRequest(file);
        };

        function getSignedRequest(file){
            var xhr = new XMLHttpRequest();
            xhr.open("GET", "/sign_s3?file_name="+file.name+"&file_type="+file.type);
            xhr.onreadystatechange = function(){
                if(xhr.readyState === 4){
                    if(xhr.status === 200){
                        var response = JSON.parse(xhr.responseText);
                        uploadFile(file, response.data, response.url);
                    }
                    else{
                        alert("Could not get signed URL.");
                    }
                }
            };
            xhr.send();
        }

        function uploadFile(file, s3Data, url){
            var xhr = new XMLHttpRequest();
            xhr.open("POST", s3Data.url);

            var postData = new FormData();
            for(key in s3Data.fields){
                postData.append(key, s3Data.fields[key]);
            }
            postData.append('file', file);

            xhr.onreadystatechange = function() {
                if(xhr.readyState === 4){
                    if(xhr.status === 200 || xhr.status === 204){
                        document.getElementById("url-imagem").value = url;
                    }
                    else{
                        alert("Could not upload file.");
                    }
                }
            };
            xhr.send(postData);
        }
    })();
</script>
{% endblock %}
