{% extends "layout.html" %}

{% macro filter_select(label, name, active_option, options = []) -%}
<div class="level-item">
    <div class="field">
        <div class="control">
            <p class="heading"><b>{{ label }}</b></p>
            <div class="select is-warning">
                <select name="{{name}}">
                    <option value="">Selecione</option>
                    {% for option in options %}
                    <option {{"selected" if option.valor == active_option}} value = "{{option.valor}}">{{option.nome}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
</div>
{%- endmacro %}

{% block content %}

<div class="section">
    <div class="container">
        <form id="filtros" action="{{url_for('eventos')}}" method="GET">
            <div class="level">
                {{filter_select(
                    label = 'Parceiro',
                    name = 'parceiro',
                    active_option = filtros.filtros_ativos().parceiro,
                    options = filtros.parceiros())}}
                {{filter_select(
                    label = 'Tipo de Evento',
                    name = 'tipo_de_evento',
                    active_option = filtros.filtros_ativos().tipo_de_evento,
                    options = filtros.tipos_de_evento())}}
                {{filter_select(
                    label = 'Área do Evento',
                    name = 'area_de_evento',
                    active_option = filtros.filtros_ativos().area_de_evento,
                    options = filtros.areas_de_evento())}}
                {{filter_select(
                    label = 'Cidade',
                    name = 'cidade',
                    active_option = filtros.filtros_ativos().cidade,
                    options = filtros.cidades())}}
                <div class="level-item">
                    <button type="submit" class="button">Filtrar</button>
                    <a href="{{url_for('eventos')}}">Limpar</a>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="columns is-multiline">

            {% for evento in eventos %}

            <div class="column is-4">
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-64x64">
                                <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p class="subtitle">
                                    <a href="{{url_for('evento', id_evento = evento.id)}}">
                                        {{evento.nome}}
                                    </a>
                                </p>
                                <p class="heading">{{evento.parceiro.nome}}</p>
                                <p>
                                    <small class="formatted-date">{{evento.data}}</small>
                                </p>
                                <small>{{evento.endereco.cidade.nome}}, {{evento.endereco.cidade.estado.nome}}</small>
                            </div>
                            <nav class="level">
                                <div class="level-left">
                                    <div class="level-item">
                                        <span class="tag is-primary">{{evento.tipo}}</span>
                                    </div>
                                    <div class="level-item">
                                        <span class="tag is-success">{{evento.area}}</span>
                                    </div>
                                </div>
                            </nav>
                        </div>
                        {% if evento.parceiro.id_usuario == current_user.id: %}
                        <div class="media-right">
                            <form action="/evento/{{evento.id}}/deletar" method="post">
                                <button type="submit">
                                    <span class="icon">
                                        <i class="fas fa-trash-alt"></i>
                                    </span>
                                </button>
                            </form>
                            <a href= "{{url_for('editar_evento', id_evento = evento.id)}}">
                                <button type="submit">
                                    <span class="icon">
                                        <i class="fas fa-edit"></i>
                                    </span>
                                </button>
                            </a>
                        </div>
                        {% endif %}

                    </article>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

{% block custom_scripts %}
<script>
var datas = document.querySelectorAll('.formatted-date');

datas.forEach(function(campoData) {
    var dataLegivel = moment(campoData.textContent)
        .locale('pt-BR')
        .format('dddd, DD [de] MMMM [de] Y')

    campoData.textContent = dataLegivel;
})
</script>
{% endblock %}
