<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login do Parceiro</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    <section class="hero is-primary is-fullheight-with-navbar is-bold">
        <!-- Hero head: will stick at the top -->
        <div class="hero-head">
          <nav class="navbar">
            <div class="container">
              <div class="navbar-brand">
                <a class="heading">
                  <img src="/static/ds3_logo.png" alt="Logo" width="100" height="100">
                </a>
                <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                  <span></span>
                  <span></span>
                  <span></span>
                </span>
              </div>
              <div id="navbarMenuHeroA" class="navbar-menu">
                <div class="navbar-end">
                  <a class="navbar-item is-active">
                    Página Inicial
                  </a>
                  <a class="navbar-item">
                    Eventos
                  </a>
                </span>
              </div>
            </div>
          </div>
        </nav>
      </div>
  <div class="container">
    <div class="columns">
      <div class="columns is-mobile">
        <div class="column is-4 is-offset-4">
          <section class="section">
            <div class="container">
              <h1 class="title">
                Login do Parceiro
              </h1>
            </div>
          </section>
          <div class="field">
            <div class="control has-icons-left has-icons-right">
              <input class="input is-success" type="text" placeholder="Usuário">
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="password" placeholder="Senha">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control">
              <button class="button is-success">
                Entrar
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>